{% extends 'base.html' %}

{% block content %}
  <div class="container-fluid">
    <div class="row" style="min-height: 900px;">
      <script>
        function toggleNoteForm() {
          var lessonTable = document.getElementById('lessonTable')
          var noteForm = document.getElementById('noteForm')
          var toggleButton = document.getElementById('toggleButton')
        
          if (lessonTable.style.display === 'none' || lessonTable.style.display === '') {
            lessonTable.style.display = 'block'
            noteForm.style.display = 'none'
            toggleButton.innerText = 'Show Note'
          } else {
            lessonTable.style.display = 'none'
            noteForm.style.display = 'block'
            toggleButton.innerText = 'Hide Note'
          }
        }
      </script>

      <div class="col-lg-3">
        <div class="accordion" id="accordionExample">
          <div class="card" style="margin:10px 0;">
            <div id="lessonTable" class="collapse show" aria-labelledby="" data-parent="#accordionExample">
              <div class="card-body" style="padding:0;">
                <table style="width: 100%;">
                  {% for lesson in lessons %}
                    <tr style="width: 100%; padding: 5px 0px;">
                      <td style="text-align: left;padding:10px; border-bottom:1px solid #ccc;">
                        <a href="{% url 'accounts:course-lessons-single' slug=course.slug id=lesson.id %}" id="{{ lesson.id }}">
                          <i class="fa fa-play" style="font-size: 12px;color: #909090;padding: 10px;"></i>
                          {{ lesson.title }}
                        </a>
                      </td>
                      <td style=" padding:10px; border-bottom:1px solid #ccc;">
                        <span class="lesson_duration">{{ lesson.duration|floatformat:0 }}m</span>
                      </td>
                    </tr>
                  {% endfor %}
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-9" id="video_player_area">
        <div class="" style="background-color: #333;">
          <div class="embed-responsive embed-responsive-16by9">
            <iframe width="80%" height="auto" class="embed-responsive-item" src="{{ lesson.video_url }}" frameborder="0" allowfullscreen></iframe>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
